@tailwind base;
@tailwind components;
@tailwind utilities;

.index{
  /* max-width: 960px; */
}

.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}